<h1 class='title'>PRODUCTS</h1>

<section class='section-products'>
	{{#if products}}
		{{#each products}}
			<article class='product'>
				<div class='product-img'>
					<img src={{this.pic}} alt={{this.name}} />
				</div>
				<h2 class='product-name'>{{this.name}}</h2>
				<p>{{this.description}}</p>
				<p>CODE: {{this.code}}</p>
				<p>${{this.price}}</p>
				<p>Stock: {{this.stock}}</p>
			</article>
		{{/each}}
</section>
<div>
	<a href="">hola</a>
	<p></p>
</div>
{{else}}
	<b>Tu carrito está vacío</b>
	{{/if}}